

  <%- include ('partials/header')-%>
<div class="box" id="heading">
  <h1>Login 👀 </h1>

</div>



<div class="box">


   <form class="" action="/login" method="post">
     <input type="text" name="username" value="" placeholder="username" required><br>
     <input type="password" name="password"value="" placeholder="password"autocomplete="on" required><br>
    <button type="submit" name="button">Go</button>     <a href="/register">New user</a>
   </form>


</div>

  <%- include ('partials/footer')-%>
